a {
  color: inherit;
  text-decoration: none;
  position: relative;
}

.sidebar{
  color: white;
  width: 20%;
  min-width: 330px;
  background: #333333;
  left: 0;
  height: 100%;
  display: inline-block;
  position: fixed;
  vertical-align: top;
  text-align: left;
}

.header {
  border-bottom: 2px solid #ffffff;
  margin-bottom: 44px;
}

.main_title {
  color: #F56623;
  font-family: "Raleway";
  font-weight: 200;
  font-size: 3em;
  margin: 0;
  padding: 44px 0px 44px 60px;
}

.main_nav__list {
  list-style: none;
  padding-left: 0;
}

.main_nav__list__item {
  text-decoration: none;
  list-style: none;
  font-size: 1em;
  margin-bottom: 0.5em;
  width: 100%;
  padding-left: 60px;
  box-sizing: border-box;
}

.main_nav__list__item {
  color: inherit;
  text-decoration: none;
  position: relative;
}

