.animation_grid__list_item {
    position: relative;
    display: inline-block;
    width: 25%;
    margin: 10px 45px 35px 0px;
    overflow: hidden;
    background: #f2f2f2;
}

.animation_grid__list_item__overlay {
    background: #312f2f;
    width: 100%;
    box-sizing: border-box;
    opacity: 0.8;
    display: flex;
    height: 37px;
    position: relative;
}

.animation_grid__list_item__overlay::before {
    content: '➡️';
    font-size: 0.7em;
    color: white;
    line-height: 46px;
    right: 16%;
    width: 25px;
    position: absolute;
    z-index: 11;
    transform: translateX(-10vw);
    opacity: 0;
    transition: transform 0.2s ease-out, opacity 0.2s ease-in;
}

.animation_grid__list_item__overlay .animation__name_wrapper {
    position: relative;
    width: 60%;
    height: 100%;
    background: #312f2f;
}

.animation_grid__list_item__overlay .gif_title {
    margin: 0;
    font-size: 14px;
    color: white;
    top: 50%;
    font-weight: 400;
    transform: translateY(-50%);
    position: absolute;
    width: 100%;
    text-align: center;
}

.animation_grid__list_item__overlay .category__label {
    position: relative;
    width: 40%;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    left: 0;
    z-index: 10;
    transform-origin: right;
    transform: scaleX(1);
    transition: transform 0.2s ease-in, background 0.1s ease-in;
}

/*Popups*/
.animation_grid__list_item__overlay .category__label--popups {
    background: #fb8c00;
}
.animation_grid__list_item__overlay .category__label--popups:hover {
    background-color: #955300;
}

/*Navigation*/
.animation_grid__list_item__overlay .category__label--navigation {
    background: #e24e42;
}
.animation_grid__list_item__overlay .category__label--navigation:hover {
    background-color: #a52419;
}

/*Buttons*/
.animation_grid__list_item__overlay .category__label--buttons {
    background: #039be5;
}
.animation_grid__list_item__overlay .category__label--buttons:hover {
    background-color: #025780;
}

/*Icons*/
.animation_grid__list_item__overlay .category__label--icons {
    background: #9c795c;
}
.animation_grid__list_item__overlay .category__label--icons:hover {
    background-color: #5c4736;
}

.animation_grid__list_item__overlay .category__label__text {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%)
}


/*Images*/
.animation_image {
    display: block;
    width: 100%;
}

.favorite_button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.favorite_icon {
    font-size: 21px;
    color: grey;
    opacity: 0.5;
    transition: opacity 0.1s ease-in, color 0.1s ease-in;
}



.favorite_button:hover .favorite_icon {
    color: #EABB32;
    opacity: 1;
    transition: opacity 0.1s ease-in, color 0.1s ease-in;
}

.animation_grid__list_item--favorite .favorite_button .favorite_icon {
    color: #EABB32;
    opacity: 1;
}